<!-- <ion-view view-title="{{ meeting.subject }}">
    <ion-content> -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Meeting detal Tab -->
    <ion-tab title="Details" icon-off="fi-clipboard-notes" icon-on="fi-clipboard-notes" ui-sref="^.detail">
        <ion-nav-view name="tab-detail"></ion-nav-view>
    </ion-tab>
    <!-- Agenda Tab -->
    <ion-tab title="Agenda" icon-off="fi-address-book" icon-on="fi-address-book" ui-sref="^.agenda">
        <ion-nav-view name="tab-agenda"></ion-nav-view>
    </ion-tab>
    <!-- MOM Tab -->
    <ion-tab title="MOM" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="^.mom">
        <ion-nav-view name="tab-mom"></ion-nav-view>
    </ion-tab>
</ion-tabs>
<!-- </ion-content>
</ion-view> -->
