<ion-view view-title="Meetings">
    <ion-content class="meeting-list-content">
        <div class="meetings-wrapper">
            <div class="list">
                <div class="card" ng-repeat="meeting in meetings" ng-click="navigateState(meeting.id)">
                    <div class="item item-divider">
                        {{ meeting.name }}
                    </div>
                    <div class="item item-text-wrap">
                        <p>{{ meeting.subject }}</p>
                        <p>{{ meeting.meetingTime }}</p>
                        <p>{{ meeting.venue }}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
