$theme-background: #2A5A8B;
$theme-background-overlay: rgba(42, 90, 139, 0.2);
$theme-foreground: #FFF;
// $theme-color-complement-two: #EFEFEF;
// $theme-border: #EFEFEF;
$font-Lato: "Lato",
"sans-serif";
$font-montserrat: "Montserrat",
"sans-serif";
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin box-shadow($horizontal: 0px, $vertical: 2px, $blur: 5px, $color: rgba(0, 0, 0, 0.5)) {
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    -moz-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}

@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: $theme-background;
    background: -webkit-gradient($start, $stop), $image no-repeat;
    background: linear-gradient($start, $stop), $image no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

body {
    font-family: $font-montserrat;
}

.background {
    @include vertical-gradient-with-image(url('../img/Background.jpg'),
    rgba(125, 125, 125, 0.3),
    rgba(110, 110, 110, 0.5));
}

.header {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0;
    text-transform: capitalize;
    line-height: 26px;
}
