.dashboard-wrapper {
    @extend .background;
    min-height: calc(100vh - 44px);
    color: $theme-background;
    .dashboard-item-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -90px;
        .dashboard-item {
            width: 180px;
            height: 180px;
            color: $theme-background;
            text-align: center;
            @include background-opacity($theme-foreground,
            0.8);
            @include box-shadow();
            margin: 10px;
            border-radius: 50px;
            transition: all ease-in .1s;
            i {
                font-size: 144px;
            }
            &:active {
                @include box-shadow(2px,
                10px,
                10px);
                transform: translateY(5px);
            }
        }
    }
}
