.dashboard-wrapper {
    min-height: calc( 100vh - 44px);
    @include vertical-gradient-with-image(url('../img/Background.jpg'),
    $theme-background-overlay,
    $theme-background-overlay);
    color: $theme-background;
    .dashboard-item-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -90px;
        .dashboard-item {
            width: 180px;
            height: 180px;
            text-align: center;
            @include background-opacity($theme-foreground,
            0.8);
            margin: 10px;
            border-radius: 50px;
            i {
                font-size: 144px;
            }
        }
    }
}
