//Tab styles
ion-tabs {
    .tabs {
        top: 0 !important;
        background: $theme-background !important;
        border-bottom: none !important;
        .tab-item {
            transition: 0.5s ease;
            border-bottom: 2.5px solid transparent;
            color: $theme-foreground;
            &.tab-item-active {
                color: $theme-foreground !important;
                border-bottom: 2.5px solid $theme-foreground!important;
            }
            .tab-title {
                font-family: $font-Lato;
            }
        }
    }
}

//meeting-list.html styles
.meeting-list-content {
    @extend .background;
    .list {
        .card {
            .item-divider {
                font-size: 14px;
                color: #666;
            }
            cursor: pointer;
            &:active {
                @include box-shadow(2px, 10px, 10px);
            }
        }
    }
}

//Common style for table layout
.meeting-attribute {
    border-bottom: 1px solid $theme-background;
    display: table;
    table-layout: fixed;
    width: 100%;
    &:nth-child(odd) {
        // background: $theme-color-complement-two;
        @include background-opacity($theme-background, 0.15);
    }
    &:last-child {
        border-bottom: 0px;
    }
    .attribute {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        padding: 10px;
        overflow-wrap: break-word;
    }
    .attribute_name {
        @extend .attribute;
        font-weight: bold;
        text-transform: capitalize;
    }
    .attribute_value {
        @extend .attribute;
        text-align: left;
        font-family: $font-Lato;
    }
}

//First tab
.detail-content {
    @extend .background;
    bottom: 44px !important;
    top: 49px !important;
    .meetings-wrapper {
        min-height: calc( 100vh - 44px - 49px);
        color: $theme-foreground;
        .meeting-attribute-wrapper {
            margin: 0;
        }
        .participation_wrapper {
            margin: 0 10px;
            .participant {
                border-top: 1px solid $theme-foreground;
                border-bottom: 2px solid $theme-foreground;
                margin: 5px 0;
            }
        }
    }
}

//Second tab
.agenda-content {
    @extend .background;
    bottom: 44px !important;
    top: 49px !important;
    .agenda-wrapper {
        min-height: calc( 100vh - 44px - 49px);
        color: $theme-foreground;
        .agenda-attribute-wrapper {
            .agenda {
                border-bottom: 1px solid $theme-foreground;
                border-top: 2.5px solid $theme-foreground;
                margin: 10px 0;
            }
        }
    }
}

// Third tab
.mom-content {
    @extend .background;
    bottom: 44px !important;
    top: 49px !important;
    .mom-wrapper {
        min-height: calc( 100vh - 44px - 49px);
        color: $theme-foreground;
    }
    .mom-attribute-wrapper {}
}
