ion-side-menus {
    ion-side-menu-content {
        .bar-bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 44px;
            .bar-header {
                color: white;
                @include background-opacity($theme-background, 0.65);
                .button {
                    color: $theme-foreground;
                }
                .title {
                    color: $theme-foreground;
                }
            }
        }
    }
    ion-side-menu {
        .menu-list {
            .list {
                ion-item {
                    .item-content {
                        i {
                            padding: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }
    ion-content {
        top: 0px !important;
    }
    .tabs {
        top: 0;
    }
    .has-tabs {
        bottom: 44px;
        top: 49px !important;
    }
}
