ion-side-menus {
    ion-side-menu-content {
        .bar-bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 44px;
            .bar-header {
                color: white;
                background: $theme-background;
                .button {
                    color: $theme-foreground;
                }
                .title {
                    color: $theme-foreground;
                }
            }
        }
    }
    ion-side-menu {
        .menu-bottom {
            top: initial !important;
            bottom: 0px;
            .menu-list {
                .list {
                    ion-item {
                        .item-content {
                            i {
                                padding: 0 10px 0 0;
                            }
                        }
                    }
                }
            }
            .avatar {
                width: 100px;
                height: 100px;
                background: #EEE url('../img/ben.png');
                background-size: cover;
                border-radius: 50%;
                @include box-shadow();
                margin: 10px auto;
            }
        }
    }
    ion-content {
        top: 0px !important;
        bottom: 44px !important;
    }
    .has-tabs {
        bottom: 44px;
        top: 49px !important;
    }
}
