<ion-view view-title="Agenda">
    <ion-content class="agenda-content">
        <div class="agenda-wrapper">
            <div class="agenda-attribute-wrapper">
                <div class="header">Agenda details</div>
                <div class="agenda" ng-repeat="agenda in meeting.content.Agenda">
                    <div class="meeting-attribute">
                        <div class="attribute_name">Subject Agenda Number</div>
                        <div class="attribute_value">{{ agenda.SubjectAgendaNumber | notapplicable }}</div>
                    </div>
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Subject Code</div>
                        <div class="attribute_value">{{ agenda.SubjectCode | notapplicable }}</div>
                    </div> -->
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Department code</div>
                        <div class="attribute_value">{{ agenda.DepartmentCode | notapplicable }}</div>
                    </div> -->
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Subject Category code</div>
                        <div class="attribute_value">{{ agenda.SubjectCategoryCode | notapplicable }}</div>
                    </div> -->
                    <div class="meeting-attribute">
                        <div class="attribute_name">Subject Category name</div>
                        <div class="attribute_value">{{ agenda.SubjectCategoryName | notapplicable }}</div>
                    </div>
                    <div class="meeting-attribute">
                        <div class="attribute_name">Subject Name</div>
                        <div class="attribute_value">{{ agenda.SubjectName | notapplicable }}</div>
                    </div>
                    <div class="meeting-attribute">
                        <div class="attribute_name">Subject Number</div>
                        <div class="attribute_value">{{ agenda.SubjectNumber | notapplicable }}</div>
                    </div>
                    <div class="meeting-attribute">
                        <div class="attribute_name">Subject Description</div>
                        <div class="attribute_value" ng-bind-html="agenda.SubjectDesc"></div>
                    </div>
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Approval Status</div>
                        <div class="attribute_value">{{ agenda.ApprovalStatus | notapplicable }}</div>
                    </div> -->
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Is Active</div>
                        <div class="attribute_value">{{ agenda.IsActive | notapplicable }}</div>
                    </div> -->
                    <div class="meeting-attribute">
                        <div class="attribute_name">Approval Status Description</div>
                        <div class="attribute_value">{{ agenda.ApprovalStatusDesc | notapplicable }}</div>
                    </div>
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Subject priority order</div>
                        <div class="attribute_value">{{ agenda.SubjectPriorityOrder | notapplicable }}</div>
                    </div> -->
                    <!-- <div class="meeting-attribute">
                        <div class="attribute_name">Is Subject Agenda</div>
                        <div class="attribute_value">{{ agenda.IsSubjectAgenda | notapplicable }}</div>
                    </div> -->
                    <div class="meeting-attribute">
                        <div class="attribute_name">Department name</div>
                        <div class="attribute_value">{{ agenda.DepartmentName | notapplicable }}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
