<ion-view view-title="MOM">
    <ion-content>
        <div class="mom-wrapper">
            <div class="list">
                <div class="item" ng-repeat="minutes in meeting.content.Minutes">
                    <div class="name">{{ minutes.MeetingMinutesDetailDesc }}</div>
                    <div class="name">{{ minutes.MeetingCode }}</div>
                    <div class="name">{{ minutes.MeetingMinutesDetailCode }}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
