@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.otf); }
@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato-Regular.ttf); }
body {
  font-family: "Montserrat", "sans-serif"; }

.background, .dashboard-wrapper, .meeting-list-content, .detail-content, .agenda-content, .mom-content, .conduct-meeting {
  background: #2A5A8B;
  background: -webkit-gradient(rgba(125, 125, 125, 0.3), rgba(110, 110, 110, 0.5)), url("../img/Background.jpg") no-repeat;
  background: linear-gradient(rgba(125, 125, 125, 0.3), rgba(110, 110, 110, 0.5)), url("../img/Background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.header {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 0;
  text-transform: capitalize;
  line-height: 26px; }

ion-side-menus ion-side-menu-content .bar-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 44px; }
  ion-side-menus ion-side-menu-content .bar-bottom .bar-header {
    color: white;
    background: #2A5A8B; }
    ion-side-menus ion-side-menu-content .bar-bottom .bar-header .button {
      color: #FFF; }
    ion-side-menus ion-side-menu-content .bar-bottom .bar-header .title {
      color: #FFF; }
ion-side-menus ion-side-menu .menu-bottom {
  top: initial !important;
  bottom: 0px; }
  ion-side-menus ion-side-menu .menu-bottom .menu-list .list ion-item .item-content i {
    padding: 0 10px 0 0; }
  ion-side-menus ion-side-menu .menu-bottom .avatar {
    width: 100px;
    height: 100px;
    background: #EEE url("../img/ben.png");
    background-size: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px auto; }
ion-side-menus ion-content {
  top: 0px !important;
  bottom: 44px !important; }

.dashboard-wrapper {
  min-height: calc(100vh - 44px);
  color: #2A5A8B; }
  .dashboard-wrapper .dashboard-item-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -90px; }
    .dashboard-wrapper .dashboard-item-wrapper .dashboard-item {
      width: 180px;
      height: 180px;
      color: #2A5A8B;
      text-align: center;
      background: #FFF;
      /* The Fallback */
      background: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      margin: 10px;
      border-radius: 50px;
      transition: all ease-in .1s; }
      .dashboard-wrapper .dashboard-item-wrapper .dashboard-item i {
        font-size: 144px; }
      .dashboard-wrapper .dashboard-item-wrapper .dashboard-item:active {
        -webkit-box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(5px); }

ion-tabs .tabs {
  top: 0 !important;
  background: #2A5A8B !important;
  border-bottom: none !important; }
  ion-tabs .tabs .tab-item {
    transition: 0.5s ease;
    border-bottom: 2.5px solid transparent;
    color: #FFF; }
    ion-tabs .tabs .tab-item.tab-item-active {
      color: #FFF !important;
      border-bottom: 2.5px solid #FFF !important; }
    ion-tabs .tabs .tab-item .tab-title {
      font-family: "Lato", "sans-serif"; }

.meeting-list-content .list .card {
  cursor: pointer; }
  .meeting-list-content .list .card:active {
    -webkit-box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5); }

.meeting-attribute {
  border-bottom: 1px solid #2A5A8B;
  display: table;
  table-layout: fixed;
  width: 100%; }
  .meeting-attribute:nth-child(odd) {
    background: #2A5A8B;
    /* The Fallback */
    background: rgba(42, 90, 139, 0.15); }
  .meeting-attribute:last-child {
    border-bottom: 0px; }
  .meeting-attribute .attribute, .meeting-attribute .attribute_name, .meeting-attribute .attribute_value {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 10px;
    overflow-wrap: break-word; }
  .meeting-attribute .attribute_name {
    font-weight: bold;
    text-transform: capitalize; }
  .meeting-attribute .attribute_value {
    text-align: left;
    font-family: "Lato", "sans-serif"; }

.detail-content {
  bottom: 44px !important;
  top: 49px !important; }
  .detail-content .meetings-wrapper {
    min-height: calc( 100vh - 44px - 49px);
    color: #FFF; }
    .detail-content .meetings-wrapper .meeting-attribute-wrapper {
      margin: 0; }
    .detail-content .meetings-wrapper .participation_wrapper {
      margin: 0 10px; }
      .detail-content .meetings-wrapper .participation_wrapper .participant {
        border-top: 1px solid #FFF;
        border-bottom: 2px solid #FFF;
        margin: 5px 0; }

.agenda-content {
  bottom: 44px !important;
  top: 49px !important; }
  .agenda-content .agenda-wrapper {
    min-height: calc( 100vh - 44px - 49px);
    color: #FFF; }
    .agenda-content .agenda-wrapper .agenda-attribute-wrapper .agenda {
      border-bottom: 1px solid #FFF;
      border-top: 2.5px solid #FFF;
      margin: 10px 0; }

.mom-content {
  bottom: 44px !important;
  top: 49px !important; }
  .mom-content .mom-wrapper {
    min-height: calc( 100vh - 44px - 49px);
    color: #FFF; }

.conduct-meeting .conduct-wrapper {
  margin: 10px 10px 0; }

/*# sourceMappingURL=style.css.map */
